<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    body{
    	background-color: #f1ffff;
      background-image: url(./images/rrr.jpg);
      opacity: 0.9;
    }
		.content{
			width: 80%;
			margin:0 auto;
			background-color: #aaa;
		}
		a{
			color: red;
		}
		a:hover{
			color: blue;
		}
    </style>
  </head>
  <body>
  <div class="content">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Express 是一个简洁而灵活的 <a href="#">nodejs</a> Web应用框架, 提供一系列强大特性帮助你创建各种Web应用。Express 不对<a href="#">nodejs</a>已有的特性进行二次抽象，我们只是在它之上扩展了Web应用所需的功能。丰富的HTTP工具以及来自Connect框架的中间件随取随用，创建强健、友好的<a href="#">apii</a>变得快速又简单</p>
    </div>
  </body>
</html>
